.enlaces-navbarr:hover {
    transform: scale(1.1);
    background-color: white;
}

.enlaces-navbarr {
    border-radius: 7px;
    text-align: center;
    width: 10rem;
    padding: 10px;
}

.contenedor-linkss {
    border-bottom: 2px black solid;
}